/* You can add global styles to this file, and also import other style files */
:root {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5;
}

// styles for the sanitzed html
.definition-card {
  .entry {
    font-weight: bold;
  }

  des {
    font-style: italic;
  }

  rub {
    &::before {
      content: "\A\A "; // \A is a new-line
    }
    color: green;
    white-space: pre; // meeded so to insert the new-line before
    font-weight: bold;
  }

  // P1, P2, etc.
  pp {
    &::before {
      content: "\A\A¶ "; // \A is a new-line
    }
    color: red;
    white-space: pre; // meeded so to insert the new-line before
    font-weight: bold;
  }

  // a), b), c), etc.
  qq {
    &::before {
      content: "\A\A        "; // \A is a new-line
    }
    color: blue;
    white-space: pre; // meeded so to insert the new-line before
    font-weight: bold;
  }

  up {
    position: relative;
    bottom: 1ex;
    font-size: 80%;
  }

  .comment {
    color: #777;
    &::before {
      content: "[";
    }
    &::after {
      content: "]";
    }
  }

  aut,
  oeuv,
  refch {
    font-style: italic;
    color: #777;
  }

  .main-def {
    color: navy;
    font-weight: bold;
  }

  cl,
  lat {
    color: brown;
    font-style: italic;
  }
}
