/* You can add global styles to this file, and also import other style files */
:root {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5;
  --text-color: #143b5a;
  --primary-color: #0080ff;
  color: var(--text-color);
}

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #fdfdfd;
}

// styles for the sanitzed html
.definition-card {
  .entry {
    font-weight: bold;
  }

  des {
    font-style: italic;
  }

  rub {
    &::before {
      content: "\A\A "; // \A is a new-line
    }
    color: green;
    white-space: pre; // meeded so to insert the new-line before
    font-weight: bold;
  }

  // P1, P2, etc.
  pp {
    &::before {
      content: "¶ "; // \A is a new-line
    }
    color: red;
    font-weight: bold;
  }

  // a), b), c), etc.
  qq {
    &::before {
      content: "\A\A        "; // \A is a new-line
    }
    color: var(--primary-color);
    white-space: pre; // meeded so to insert the new-line before
    font-weight: bold;
  }

  up {
    position: relative;
    bottom: 1ex;
    font-size: 80%;
  }

  .comment {
    color: #777;
    &::before {
      content: "[";
    }
    &::after {
      content: "]";
    }
  }

  aut,
  oeuv,
  refch {
    font-style: italic;
    color: #777;
  }

  .main-def {
    font-weight: bold;
  }

  cl,
  lat,
  latv {
    color: brown;
    font-style: italic;
  }

  .definition-pp {
    padding: 1em;
    border-radius: 5px;
    margin: 1.5em 2em;
    box-shadow: 0 0 5px #ddd;
    text-align: justify;
    text-justify: inter-word;
  }
}

.navigation button,
button.search {
  background: #fff;
  color: var(--text-color);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    background: #eee;
  }
}
button.search {
  padding: 1em 3em;
}

* {
  box-sizing: border-box;
}
