:host {
  width: 100%;
}

.definition-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-block: 1em;
}
